{% extends 'home/index.html' %}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}
<div class="container-fluid registration">
    <form method="post" class="col-12 p-2">
        {% csrf_token %}
        <div class="row p-2">
          <div class="col">
              <h1>تماس با ما</h1>
                <p>لطفا با استفاده از فرم زیر پیام خود را برای ما ارسال کنید:</p>
                {% csrf_token %}
                <div class="input row p-2">
                    <div class="col-md-6 inline-group">
                        {{ contact_form.first_name | as_crispy_field }}
                    </div>
                    <div class="col-md-6 inline-group">
                        {{ contact_form.last_name | as_crispy_field }}
                    </div>
                </div>
                <div class="input row p-2">
                    <div class="col-md-6 inline-group">
                        {{ contact_form.email | as_crispy_field }}
                    </div>
                    <div class="col-md-6 inline-group">
                        {{ contact_form.message | as_crispy_field }}
                    </div>
                </div>
          </div>
        </div>
        <button type="submit" class="btn btn-info m-2">ارسال</button>
                {% if contact_form.errors %}
                    {% for field in contact_form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                                (<strong>{{ field.label|escape }}</strong>)
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in contact_form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
      </form>
</div>
{% endblock %}
