{% extends 'home/index.html' %}
{% load crispy_forms_tags %}

{% block title %}
    تغییر رمز عبور
{% endblock %}

{% block content %}
        <div class="col-9 my-5">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {{ field | as_crispy_field }}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}

                    </p>
                {% endfor %}
                <div class="form-group">
                    <button class="btn btn-info" type="submit">ذخیره</button>
                </div>
            </form>
        </div>
{% endblock %}