{% extends 'home/Base_page.html' %}

{% block title %}
    بازیابی رمز عبور
{% endblock %}

{% block content %}
    <h1>رمز عبور خود را بازیابی کنید</h1>
    {% if validlink %}
        <p>لطفا رمز عبور خود را دوباره وارد نمایید:</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="تغییر رمز عبور" /></p>
        </form>
    {% else %}
        <p>رمز عبور بازیابی شده نامعتبر است لطفا دوباره درخواست دهید.</p>
    {% endif %}
{% endblock %}