{% extends 'home/Base_page.html' %}

{% block title %}
    {{ profile.user_name }}
{% endblock %}



{% block content %}
    <div class="col-12">
        <div class="mx-5 my-2">
            <a href="{% url 'registration:edit_profile' %}" class="btn btn-outline-info">تغییر پروفایل</a>
            <a href="{% url 'registration:password_change' %}" class="btn btn-outline-info">تغییر رمز عبور</a>
        </div>
        <div class="mx-5 my-2">
            <ul class="list-group-item">
                <li><p>{{ user.get_full_name }}</p></li>
                <li><p>{{ user.email }}</p></li>
                <li><p>{{ user.profile.phone }}</p></li>

                <li><p>تلفن: {{ request.user.userprofile.phone }}</p></li>
                <li><p>شهر: {{ request.user.userprofile.city }}</p></li>
                <li><p>آدرس: {{ request.user.userprofile.address }}</p></li>
                <li><p>کد پستی: {{ request.user.userprofile.postal_code }}</p></li>
            </ul>
        </div>
    </div>
{% endblock %}