{% extends 'home/Base_page.html' %}

{% block title %}
    سفارشات من
{% endblock %}


{% block content %}
    <div class="col-10 my-5">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <table class="table table-hover">
            <thead>
                <tr class="bg-warning">
                    <th scope="col">نام</th>
                    <th scope="col">نام خانوادگی</th>
                    <th scope="col">مبلغ کل</th>
                    <th scope="col">وضعیت</th>
                    <th scope="col">تاریخ</th>
                    <th scope="col">جزئیات</th>
                </tr>
            </thead>
            <tbody class="bg-light">
            {% for item in order %}
                <tr>
                    <td>{{ item.first_name }}</td>
                    <td>{{ item.last_name }}</td>
                    <td><strong>{{ item.total }} تومان</strong></td>
                    <td><strong>{{ item.status }}</strong></td>
                    <td><strong>{{ item.created }}</strong></td>
                    <td><a href="{% url 'registration:orderdetails' id=item.id %}">جزئیات</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}