{% extends 'home/Base_page.html' %}


{% block title %}
    ورود
{% endblock %}


{% block content %}
    <div class="col-12 p-2">
        <h1>ورود به حساب کاربری:</h1>
        <form  method="POST" class="m-3">
            {% csrf_token %}
            <div class="form-group mb-2">
                <label for="username"> <p>نام کاربری: </p></label>
                <input type="text" name="username" id="username" placeholder="نام کاربری">
            </div>
            <div class="form-group mb-2">
                <label for="password"><p>رمز عبور: </p></label>
                <input type="password" name="password" id="password" placeholder="رمز عبور">
            </div>
            <p><a href="{% url 'registration:password_reset' %}">رمز عبور خود را فراموش کرده اید؟</a></p>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            <p>
                <input type="submit" class="btn btn-outline-success" value="ورود">
                <a href="{% url 'registration:signup' %}" class="btn btn-outline-success">ثبت نام</a>
            </p>
        </form>
    </div>
{% endblock %}