{% extends "account/index_admin_panel.html" %}


{% block title %}
پنل مدیریت | {{ user.get_full_name }}
{% endblock title %}


{% block content %}
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0 text-dark">پنل مدیریت سایت شاپ کتونی</h1>
  </div><!-- /.row -->
</div><!-- /.container-fluid -->
</div>

<!-- Main content -->
<section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ orders.count }}</h3>

                <p>سفارشات جدید</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="{% url 'account:admin_orders' %}" class="small-box-footer">دیدن همه ی سفارشات <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ pro_count.count }}</h3>

                <p>تعداد اجناس</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="{% url 'account:admin_products' %}" class="small-box-footer">دیدن همه ی اجناس <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ users_count }}</h3>

                <p>کاربران</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="{% url 'account:admin_users' %}" class="small-box-footer">دیدن همه ی کاربران <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>
                    {{ number_of_active_users }}
                </h3>

                <p>تعداد افراد آنلاین</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="/admin/online_users/onlineuseractivity/" target="_blank" class="small-box-footer"> کاربران آنلاین <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>

      </div>
</section>
<!-- /.content -->


<div class="col-12">
  <div class="card">
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
      <table class="table table-hover" style="font-size: 13px;">
        <thead>
          <tr>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>تاریخ</th>
            <th>مبلغ</th>
            <th>وضعیت</th>
            <th>کد پستی</th>
            <th>شهر</th>
            <th>آدرس</th>
          </tr>
        </thead>
        <tbody>
          {% if orders %}
          {% for order in orders %}
          <tr>
            <td>{{ order.first_name }}</td>
            <td>{{ order.last_name }}</td>
            <td>{{ order.jcreated }}</td>
            <td>{{ order.total }} تومان</td>
            <td class="badge
          {% if order.status == 'ارسال شد' %}
              badge-success
          {% elif order.status == 'در حال بررسی' %}
              badge-warning
          {% elif order.status == 'کنسل شد' %}
              badge-danger
          {% endif %}
              ">{{ order.status}}</td>
            <td><span class="tag tag-warning">{{ order.postal_code }}</span></td>
            <td>{{ order.city}}</td>
            <td>{{ order.address}}</td>
          </tr>
          {% endfor %}
          {% else %}
          <td colspan="8">
            <p>سفارشی ندارین :)</p>
          </td>
          {% endif %}
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>


<div class="col-12">
  <div class="card">
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
      <table class="table table-hover" style="font-size: 13px;">
        <thead>
          <tr>
            <th>#</th>
            <th>نام محصول</th>
            <th>تعداد فروش</th>
            <th>قیمت خرید</th>
            <th>قیمت فروش</th>
            <th>کل فروش</th>
            <th>سود تکی</th>
            <th>کل سود</th>
          </tr>
        </thead>
        <tbody>
          {% for order in sale %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ order.product__name }}</td>
            <td>{{ order.quantity__sum }} عدد</td>
            <td>{{ order.product__purchase_price__max }} عدد</td>
            <td>{{ order.product__price__max }} عدد</td>
            <td>{{ order.total_price__sum }} تومان</td>
            <td>{{ order.each_income }} تومان</td>
            <td>{{ order.income }} تومان</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
</div>  

{% endblock content %}