{% extends "account/index_admin_panel.html" %}


{% block title %}
مدیریت اجناس | {{ user.get_full_name }}
{% endblock title %}

{% block content %}
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0 text-dark">پنل مدیریت اجناس</h1>
  </div><!-- /.row -->

  <!-- SEARCH FORM -->
  <form method="get" class="form-inline ml-3">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" name="search" type="search" placeholder="جستجو نام محصول یا نام برند" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</div><!-- /.container-fluid -->
</div>

<div class="col-12">
    <div class="card">
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-center" style="font-size: 13px;">
          <thead>
            <tr>
              <th>#</th>
              <th>اسم</th>
              <th>برند</th>
              <th>دسته بندی</th>
              <th>جنسیت</th>
              <th>ساخت</th>
              <th>وضعیت</th>
              <th>قیمت خرید</th>
              <th>قیمت فروش</th>
              <th>تخفیف</th>
              <th>قیمت با تخفیف</th>
              <th>تصویر</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'account:admin_products_details' id=product.id slug=product.slug %}">{{ product.name }}</a></td>
                <td>{{ product.brand }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.get_gender_display }}</td>
                <td>{{ product.get_making_display }}</td>
                {% if product.status == 1 %}
                  <td><i class="badge-success fa fa-check rounded"></i></td>
                {% else %}
                  <td><i class="badge-danger fa fa-minus rounded"></i></td>
                {% endif %}
                <td>{{ product.purchase_price }} تومان</td>
                <td>{{ product.price }} تومان</td>
                {% if product.discount_price %}
                    <td class="badge-success">{{ product.discount_price }} تومان</td>
                {% else %}
                    <td><i class="badge-danger fa fa-minus rounded"></i></td>
                {% endif %}
                {% if product.dis_price == '' %}
                    <td class="badge-success">{{ product.dis_price }} تومان</td>
                {% else %}
                    <td><i class="badge-danger fa fa-minus rounded"></i></td>
                {% endif %}
                <td class="m-0">{{ product.image_tag }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
  </div>  
  
{% endblock content %}