{% extends "account/index_admin_panel.html" %}


{% block title %}
مدیریت سفارشات | {{ user.get_full_name }}
{% endblock title %}

{% block content %}
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0 text-dark">پنل مدیریت سفارشات</h1>
  </div><!-- /.row -->

  <!-- SEARCH FORM -->
  <form method="get" class="form-inline ml-3">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" name="search" type="search" placeholder="جستجو نام کاربری یا کد خرید" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</div><!-- /.container-fluid -->
</div>

<div class="col-12">
    <div class="card">
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-center" style="font-size: 13px;">
          <thead>
            <tr>
              <th>#</th>
              <th>کاربر</th>
              <th>سفارش به نام</th>
              <th>کد خرید</th>
              <th>تلفن</th>
              <th>شهر</th>
              <th>کد پستی</th>
              <th>وضعیت</th>
              <th>وضعیت پرداخت</th>
              <th>تاریخ سفارش</th>
              <th></th>
              <th></th>
              <th>مبلغ</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{% url 'account:admin_orders_details' id=order.id %}">{{ order.user.username }}</a></td>
              <td>{{ order.first_name }} {{ order.last_name }}</td>
              <td>{{ order.code }}</td>
              <td>{{ order.phone }}</td>
              <td>{{ order.city }}</td>
              <td>{{ order.postal_code }}</td>
              <td>{{ order.status }}</td>
              {% if order.paid == 1 %}
                <td><i class="badge-success fa fa-check rounded"></i></td>
              {% else %}
                <td><i class="badge-danger fa fa-minus rounded"></i></td>
              {% endif %}
              <td colspan="3" class="text-small">{{ order.jcreated }}</td>
              <td>{{ order.get_total_cost }} تومان</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
  </div>  
  
{% endblock content %}