{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    بازیابی رمز عبور
{% endblock %}

{% block content %}
    <h1>رمز عبور خود را بازیابی کنید</h1>
    {% if validlink %}
        <p>لطفا رمز عبور خود را دوباره وارد نمایید:</p>
        <form class="container-fluid col-md-6" method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <p><input type="submit" value="تغییر رمز عبور" /></p>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                                (<strong>{{ field.label|escape }}</strong>)
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                {% endfor %}
            {% endif %}
        </form>
    {% else %}
        <p>رمز عبور بازیابی شده نامعتبر است لطفا دوباره درخواست دهید.</p>
    {% endif %}
{% endblock %}