{% extends 'home/index.html' %}
{% load static %}

{% block title %}
    {{ request.user.username }}
{% endblock %}

{% block content %}
    <div class="profile">
        <div class="row p-3 item-list">
          <div class="col-2">
              <small class="text-muted">
                  <p>نام و نام خانوادگی:</p>
              </small>
          </div>
          <div class="col-10">
              {% if request.user.get_full_name %}
                <p>{{ request.user.get_full_name }}</p>
              {% else %}
                <p>وارد نشده است</p>
              {% endif %}
          </div>
          <div class="w-100 my-1"></div>
          <div class="col-2">
            <small class="text-muted">
                <p>نام کاربری:</p>
            </small>
          </div>
          <div class="col-10">
            <p>{{ request.user.username }}</p>
          </div>
          <div class="w-100 my-1"></div>
          <div class="col-2">
            <small class="text-muted">
                <p>ایمیل:</p>
            </small>
          </div>
          <div class="col-10">
              <p>{{ request.user.email }}</p>
          </div>
          <div class="w-100 my-1"></div>
          <div class="col-2">
            <small class="text-muted">
                <p>تلفن:</p>
            </small>
          </div>
          <div class="col-10">
              {% if request.user.phone_number %}
                <p>{{ request.user.phone_number }}</p>
              {% else %}
                <p>وارد نشده است</p>
              {% endif %}
          </div>
          <div class="w-100 my-1"></div>
          <div class="col-2">
            <small class="text-muted">
                <p>شهر:</p>
            </small>
          </div>
          <div class="col-10">
              {% if request.user.city %}
                <p>{{ request.user.city }}</p>
              {% else %}
                <p>وارد نشده است</p>
              {% endif %}
          </div>
          <div class="w-100 my-1"></div>
          <div class="col-2">
            <small class="text-muted">
                <p>آدرس:</p>
            </small>
          </div>
          <div class="col-10">
              {% if request.user.address %}
                <p>{{ request.user.address }}</p>
              {% else %}
                <p>وارد نشده است</p>
              {% endif %}
          </div>
          <div class="w-100 my-1"></div>
          <div class="col-2">
            <small class="text-muted">
                <p>کد پستی:</p>
            </small>
          </div>
          <div class="col-10">
              {% if request.user.postal_code %}
                <p>{{ request.user.postal_code }}</p>
              {% else %}
                <p>وارد نشده است</p>
              {% endif %}
          </div>

          <div class="change">
            <a href="{% url 'account:edit_profile' %}" class="btn btn-info">تغییر پروفایل</a>
            <a href="{% url 'account_change_password' %}" class="btn btn-info">تغییر رمز عبور</a>
          </div>
        </div>
    </div>
{% endblock %}


