{% extends 'home/index.html' %}

{% block title %}
    سفارش محصول
{% endblock %}


{% block content %}
    <div class="warining alert-warning text-center">
        <p class="text-danger">** توجه داشته باشید که حتما اطلاعات دقیق را وارد نمایید تا در ارسال محصول مشکلی نباشد. **</p>
    </div>
    <form action="" method="post">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% csrf_token %}
    <div class="container-fluid">
        <div class="col-lg-6 float-right">
            <div>
                <h4>فرم خرید:</h4>
            </div>
            <hr>
            <p><label for="id_first_name">نام:</label></p>
            <input type="text" name="first_name" class="form-control"
                   maxlength="10" required id="id_first_name">
            <br>
            <p><label for="id_last_name">نام خانوادگی:</label></p>
            <input type="text" name="last_name" class="form-control"
                   maxlength="10" required id="id_last_name">
            <br>
            <p><label for="id_city">شهر:</label></p>
            <input type="text" name="city" class="form-control"
                   maxlength="50" required id="id_city">
            <br>
            <p><label for="id_address">آدرس:</label></p>
            <input type="text" name="address" class="form-control"
                   maxlength="250" required id="id_address">
            <br>
            <p><label for="id_postal_code">کد پستی:</label></p>
            <input type="text" name="postal_code" class="form-control"
                   maxlength="20" required id="id_postal_code">
            <br>
            <p><label for="id_phone">تلفن:</label></p>
            <input type="text" name="phone" class="form-control"
                    maxlength="11" required id="id_phone">
            <br>

        </div>
        <div class="col-lg-6 float-left">
            <div>
                <h4>فرم پرداخت:</h4>
            </div>
            <hr>
            <p><label for="id_first_name">مبلغ کل:</label></p>
            <input type="text" name="total" value="{{ cart.get_total_price_after_discount|floatformat:0 }}" class="form-control"
                   maxlength="10" required id="id_total" disabled>
            <br>
            <p><label for="id_card_number">شماره کارت:</label></p>
            <input type="text" name="card_number" value="" class="form-control"
                   maxlength="20" required id="id_card_number">
            <br>
            <p><label for="id_CVV">CVV:</label></p>
            <input type="text" name="CVV" value="" class="form-control"
                   maxlength="10" required id="id_CVV">
            <br>
            <p><label for="id_date_card">تاریخ کارت:</label></p>
            <input type="text" name="date_card" value="" class="form-control"
                   maxlength="10" required id="id_date_card" placeholder="ماه/سال">
            <br>
            <p><label for="id_security_card">رمز دوم:</label></p>
            <input type="text" name="security_card" value="" class="form-control"
                   maxlength="20" required id="id_security_card">
            <br>
            <div>
            <button class="btn btn_custom2 mb-2 shadow-sm"><i class="material-icons">shopping_cart</i>تکمیل خرید</button>
            </div>
        </div>
    </div>

        <br>
    </form>

    <div class="container table_suppliers mt-4">
            <table class="table bg-white table-bordered table-responsive_custom">
                <thead>
                <tr class="text-white">
                    <th>نام محصول</th>
                    <th>رنگ</th>
                    <th>سایز</th>
                    <th>قیمت واحد</th>
                    <th>تعداد</th>
                    <th>تخفیف</th>
                    <th>قیمت کل</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart %}
                    {% with variant=item.variant %}
                    <tr>
                        <td class="table_link">
                            <img style="width: 50px; height: 50px" src="{{ variant.product.image.url }}" alt="{{ variant.product.name }}">
                            <a href="{{ variant.product.get_absolute_url }}"><span class="span2">{{ variant.product.name }}</span></a>
                        </td>

                        <td>
                            <strong class="span1">{{ variant.color.name }}</strong>
                        </td>

                        <td>
                            <strong class="span1">{{ variant.size }}</strong>
                        </td>

                        <td>
                        {% if variant.discount_status %}
                        <del class="badge badge-danger">{{ variant.price }}تومان</del><br><strong class="badge badge-success">{{ variant.discount_price }}  تومان</strong>
                        {% else %}
                            <strong class="badge badge-success">{{ variant.price }}تومان</strong>
                        {% endif %}
                        </td>

                        <td>
                            <strong class="span1">{{ item.quantity }}</strong>
                        </td>

                        <td>
                            {% if variant.discount_status %}
                                <strong class="badge badge-success">دارد</strong>
                            {% else %}
                                <strong class="span1 badge badge-danger">ندارد</strong>
                            {% endif %}
                        </td>
                        <td>
                            <strong class="span1">
                                 {{ item.total_price }}    تومان
                            </strong>
                        </td>
                        <td>
                            <form action="{% url 'cart:cart_remove' variant.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit"  onclick="return confirm('حذف شود؟')">&#10005;</button>
                            </form>
                        </td>
                    </tr>
                    {% endwith %}
                {% endfor %}
            </table>
    </div>
{% endblock %}