@font-face {
    font-family: sahel;
    src: url(../fonts/sahel) format('eot'),
    url(../fonts/sahel) format('woff'),
    url(../fonts/sahel.ttf) format('truetype')
}


body {
    direction: rtl;
    text-align: right;
    overflow-x: hidden;
    background-color: rgba(229, 227, 227, 0.4);
    width: 100%;
}

* {
  box-sizing: border-box;
}

p, div, a, h1, h2, h3, h4, h5, h6 {
    font-family: sahel;
}

ul li {
    list-style-type: none;
}

.bold {
    font-weight: bold;
}

.clear {
    clear: both;
}

.row {
    width: 100%;
}

/* ....................Header.................... */
header {
    background-color: rgb(255, 255, 255);
    position: relative;
    /* margin-bottom: 100px; */
}

header .number p {
    padding-right: 20px;
    padding-top: 10px;
    color: #282828;
    font-weight: bold;
}



header .user {
    padding-left: 20px;
    padding-top: 0px;
    z-index: 3;
}

header nav {
    margin-bottom: 0;
    z-index: 2;
    clear: both;
}
/* ....................section slider.................... */
.slider {
    height: 300px;
    width: 100%;
    margin: 5px;
}

.slider div {
    height: 300px;
    border-radius: 5px;
}

.slider div div div img {
    height: 300px;
}


/* ...........................tak_size item...................... */
.tak_size {
    padding: 20px;
    background-color: #95f56c;
    text-align: center;
    box-sizing: border-box;
}

.tak_size div {
    direction: ltr;
    margin: auto;
}

.tak_size div ul li {
    margin: 0 15px;
    border: 1px solid rgb(212, 228, 228);
    border-radius:5px;
    color: black;
    background-color: white;
}

.tak_size div ul li img  {
    height: 250px;
    width: 100%;
}

/* ...........................randome item...................... */
.randome_item {
    margin: 0 10px;
    direction: ltr;
    text-align: center;
}

.randome_item h2 {
    font-weight: bold;
    direction: rtl;
}

.randome_item div ul li {
    margin: 0 5px;
    background-color: white;
}

.randome_item div ul li img {
    width: 100%;
    height: 250px;
    border: 1px solid rgb(212, 228, 228);
    border-radius:5px;
}


  /* ...........................Item slider...................... */
.item_slider {
    padding: 20px;
    background-color: crimson;
    text-align: center;
    box-sizing: border-box;
}

.item_slider div {
    direction: ltr;
    margin: auto;
}

.item_slider div ul li {
    margin: 0 15px;
    border: 1px solid rgb(212, 228, 228);
    border-radius:5px;
    color: black;
    background-color: white;
}

.item_slider div ul li img  {
    height: 250px;
    width: 100%;
}


 /* ...........................Brands...................... */
.brands {
    padding: 0 20px;
}

.brands h2{
    font-weight: bold;
}


.column1 {
    float: left;
    width: 20%;
    padding: 0 10px;
    margin: 10px 0;
}

.row1 {
    margin: 0 20px;
}

.row1:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.card:hover {
    background-color: #b8b8b8;
    transition: 0.5s;
}


/* ........................footer........................ */

footer {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

/* Items */
.items {
    padding: 10px 50px;
    width: 100%;
    background-color: #d8eafc;
}

.item {
  width: 33%;
  text-align: center;
  padding: 10px 5px;
  float: left;
  display: block;
}

.item img {
    height: 50px;
}

.item .text {
  color: darkgray;
}


footer ul li {
    color: black;
}

footer ul li a:hover {
    text-decoration: none;
}

footer .contact ul {
    list-style-type: none;
}

footer .contact ul li {
    display: inline;
}

footer .contact ul li img {
    height: 32px;
}

/* .....................................................................................DETAIL PAGE */
/* IMAGE */

.Detail .slide {
  float: right;
  width: 50%;
  position: relative;
}

.Detail .feature {
  float: left;
  width: 50%;
}


.Detail .slide{
    direction: ltr;
}

img {
    vertical-align: middle;
  }

  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    width: 50%;
    margin-right: 0;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    left: 0;
    border-radius: 0 3px 3px 0;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Six columns side by side */
  .column {
    float: left;
    width: 16.667%;
  }

  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }


/* STAR RARING */

/* ............................................................SELECT SIZE*/
.select {
    width: 95%;
    padding: 4px 6px;
    color: #2f2f2f;
    background-color: #d43434;
    border: 1px solid #846262;
    cursor: pointer;
    border-radius: 5px;
}

.select:focus, .select:hover {
    outline: none;
    border: 1px solid #a30000;
    transition: 0.5s;
}

.select .option {
    border: 1px solid #846262;
    border-radius: 5px;
}

.select .option:hover {
    background-color: #e0a800;
    cursor: pointer;
}


/* ............................................................RADIO COLOR */
/*form .appendHere .color-option .radio-containe {*/
/*  position: relative;*/
/*}*/
.radio-button-tabs input[type="radio"] {
    width: 95%;
    display: none;
}

.radio-button-tabs label {
    height: 40px;
    width: 40px;
    border: 3px solid #666464;
    color: #999;
    display: inline-block;
    font-size: 16px;
    margin: 18px;
    padding: 6px 12px;
    border-radius: 100px;
    box-shadow: #ccc 0 0 5px;
}

.radio-button-tabs label:hover {
    cursor: pointer;
}

.radio-button-tabs input[type="radio"]:checked + label {
    /*background-color: #fff;*/
    color: #784f4f;
    border: 3px solid #000;
}
/*............................................................................... SELECT PRO */
.select_pro {
    padding: 10px;
    background-color: #EEE7E7;
    border: 1px solid #c4c1c1;
    border-radius: 5px;
}

/*............................................................................... INPUT NUMBER */
.innumber input {
    border-radius: 5px;
    border: 2px solid #0dcaf0;
    color: #0dcaf0;
}

.innumber input:hover, .innumber input:active {
    cursor: pointer;
    border: 2px solid #0dcaf0;
    background-color: #0dcaf0;
    color: white;
    transition: 0.5s;
}

/*............................................................................... STAR */
.comment form input[type="submit"] {
    text-align: center;
    font-size: 20px;
  }

  #wrapper form input[type="submit"] {
    border: 1px solid #d9d9d9;
    background-color: #efefef;
  }

  .comment form div input[type="radio"] {
    display: none;
  }

  label {
    color: grey;
  }

  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }

  label:hover,
  label:hover ~ label {
    color: orange;
  }

  .comment form div input[type="radio"]:checked ~ label {
    color: orange;
  }


     .comment .show {
      float: left;
      width: 50%;
    }

    .comment .create {
      float: right;
      width: 50%;
    }
/*............................................................................... Comments */
.comments {
    border-radius: 5px;
}


/* .....................................................................................KATONI PAGE */
.search_form {
    float: right;
    width: 25%;
    padding: 20px;
}

.katoni {
  float: left;
  width: 75%;
  padding: 20px;
}


.katoni .page {
    margin: 10px;
}




/* .....................................................................................SHOP_CART TABLE */
/* .....................................................................................ORDER_PRODUCT */
.warining {
    color: red;
}

/* ........................mobile........................ */
  @media only screen and (max-width: 850px) {
    header .number p {
        color: white;
        font-weight: bold;
        width: 100%;
    }

    header .logo img {
        width: 100%;
    }

    header .user {
        padding-right: 20px;
        z-index: 999999;
        width: 100%;
    }

    .items {
        height: 690px;
    }

    .item {
        width: 100%;
        text-align: center;
        padding: 10px 5px;
        float: left;
        display: inline;
      }

    .tak_size div ul li {
        width: 100%;
    }

    .item_slider div ul li {
        width: 100%;
    }

    .column1 {
        width: 33%;
        display: block;
        margin-bottom: 20px;
    }

    /* DETAIL */
    .Detail .feature , .Detail .slide {
      width: 100%;
    }

    /* select color */
    .radio-button-tabs label {
        display: block;
    }

    /* input number */


    .ctrl {
      font-size: 15px;
      }

    .ctrl-counter {
      width: 50px;
      height: 20px;
      }

      .ctrl-button {
        width: 50px;
        line-height: 25px;
        }
        .ctrl-counter-input {
          font-size: 15px;
          line-height: 25px;
          }
          .ctrl-counter-num {
          line-height: 25px;
          }
/* Comment */

.comment .show {
    width: 100%;
}

.comment .create {
    width: 100%;
}

/* ................KATONI PAGE */
  .katoni {
    float: none;
    width: 100%;
    padding: 20px;
    }
  .katoni .uk-grid {
    margin-left: -20px;
}
  .search_form {
      width: 100%;
  }
  }